<!--
	Launch file for publishing DroneStates_local message from all drones
-->

<launch>
	<group>
		<node pkg="iq_gnc" type="drone_states_loc_pub.py" name="f1_drone_states_loc" output="screen" ns="/fury_1">
			<param name="use_sim_time"  value="true" />
		</node>
	</group>
    <group>
		<node pkg="iq_gnc" type="drone_states_loc_pub.py" name="f2_drone_states_loc" output="screen" ns="/fury_2">
			<param name="use_sim_time"  value="true" />
		</node>
	</group>
    <group>
		<node pkg="iq_gnc" type="drone_states_loc_pub.py" name="f3_drone_states_loc" output="screen" ns="/fury_3">
			<param name="use_sim_time"  value="true" />
		</node>
	</group>
    <group>
		<node pkg="iq_gnc" type="drone_states_loc_pub.py" name="f4_drone_states_loc" output="screen" ns="/fury_4">
			<param name="use_sim_time"  value="true" />
		</node>
	</group>
    <group>
		<node pkg="iq_gnc" type="drone_states_loc_pub.py" name="f5_drone_states_loc" output="screen" ns="/fury_5">
			<param name="use_sim_time"  value="true" />
		</node>
	</group>
</launch>