<!-- 
	Launch file for running extrapol_vc_track scripts simultaneously
-->

<launch>
  <group>
    <node pkg="iq_gnc" type="ext_follower_vc_loc.py" name="extrapol" output="screen" ns="/fury_1">
      <param name="id" value="1"/>
      <param name="use_sim_time" value="true"/>
    </node>
  </group>

  <group>
    <node pkg="iq_gnc" type="ext_follower_vc_loc.py" name="extrapol" output="screen" ns="/fury_2">
      <param name="id" value="2"/>
      <param name="use_sim_time" value="true"/>
    </node>
  </group>

  <group>
    <node pkg="iq_gnc" type="ext_follower_vc_loc.py" name="extrapol" output="screen" ns="/fury_3">
      <param name="id" value="3"/>
      <param name="use_sim_time" value="true"/>
    </node>
  </group>

  <group>
    <node pkg="iq_gnc" type="ext_follower_vc_loc.py" name="extrapol" output="screen" ns="/fury_4">
      <param name="id" value="4"/>
      <param name="use_sim_time" value="true"/>
    </node>
  </group>

  <group>
    <node pkg="iq_gnc" type="ext_follower_vc_loc.py" name="extrapol" output="screen" ns="/fury_5">
      <param name="id" value="5"/>
      <param name="use_sim_time" value="true"/>
    </node>
  </group>
</launch>

